<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MTCDashboard.My.MySettings.ConnectionString" connectionString="Dsn=MTCDATA"
            providerName="System.Data.Odbc" />
        <add name="MTCDashboard.My.MySettings.M2MDATA11ConnectionString"
            connectionString="Dsn=M2MDATA11;description=Made2 Manage Company 11;uid=gadc;trusted_connection=Yes;app=Microsoft® Visual Studio®;wsid=WK20018;database=M2MDATA11"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>